@font-face {
  font-family: "OpenSans";
  src: url("Fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "OpenSans-ext-bold";
  src: url("Fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "OpenSans-italic";
  src: url("Fonts/OpenSans-Italic.ttf");
}
@font-face {
  font-family: "OpenSans-bold-italic";
  src: url("Fonts/OpenSans-BoldItalic.ttf");
}
